<div class="container-fluid animated fadeIn">
    <div class="card">
      <div class="card-header">
        <div class="row justify-content-between align-items-center">
          <div class="col-auto">
            <h3 class="mb-0">Student Achievement</h3>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-danger" (click)="goBack()">
              <i class="fa fa-arrow-left me-1" aria-hidden="true"></i>
              Back
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="studentForm" class="form-horizontal">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label">
                  Name
                  <span class="text-danger">*</span>
                </label>
                <input
                  formControlName="name"
                  type="text"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      form.name.invalid &&
                      submitted &&
                      (form.name.errors ||
                        form.name.touched ||
                        form.name.dirty)
                  }"
                  placeholder="Enter Name"
                />
                <validation-messages [control]="form['name']">
                </validation-messages>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label">
                  Achievement
                  <span class="text-danger">*</span>
                </label>
                <input
                  formControlName="achievement"
                  type="text"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      form.achievement.invalid &&
                      submitted &&
                      (form.achievement.errors ||
                        form.achievement.touched ||
                        form.achievement.dirty)
                  }"
                  placeholder="Enter achievement"
                />
                <validation-messages [control]="form['achievement']">
                </validation-messages>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label">
                  Email
                  <span class="text-danger">*</span>
                </label>
                <input
                  formControlName="email"
                  type="text"
                  id="email"
                  name="email"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      form.email.invalid &&
                      submitted &&
                      (form.email.errors ||
                        form.email.touched ||
                        form.email.dirty)
                  }"
                  placeholder="Enter Email"
                />
                <validation-messages [control]="form['email']">
                </validation-messages>
              </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label">
                    Mobile Number
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    formControlName="mobileNumber"
                    type="tel"
                    id="mobile"
                    class="form-control"
                    minlength="10"
                    maxlength="10"
                    placeholder="Enter Mobile Number"
                  />
                  <validation-messages [control]="form['mobileNumber']">
                  </validation-messages>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Address</label>
                <textarea
                  formControlName="address"
                  rows="3"
                  type="text"
                  class="form-control"
                  placeholder="Enter Address"
                >
                </textarea>
                
              </div>
            </div>
          </div>
        </form>
        <div class="text-center">
          <button (click)="submit()" type="submit" class="btn btn-primary">
            {{ form['id'].value ? "Update" : "Save" }}
          </button>
          <button (click)="goBack()" class="btn btn-danger">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  