<div class="container-fluid animated fadeIn">
    <div class="card shadow-sm">
      <div class="card-header">
        <div class="row justify-content-between align-items-center">
          <div class="col-auto">
            <h3 class="mb-0">Testimonial Form</h3>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-danger" (click)="goBack()">
              <i class="fa fa-arrow-left me-1" aria-hidden="true"></i>
              Back
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="testimonialForm" class="form-horizontal">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Quote</label>
                <textarea
                  formControlName="quote"
                  rows="3"
                  type="text"
                  class="form-control"
                  placeholder="Enter quote"
                >
                </textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">
                  Name
                  <span class="text-danger">*</span>
                </label>
                <input
                  formControlName="name"
                  type="text"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      form.name.invalid &&
                      submitted &&
                      (form.name.errors ||
                        form.name.touched ||
                        form.name.dirty)
                  }"
                  placeholder="Enter name"
                />
                <validation-messages [control]="form['name']">
                </validation-messages>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">BioData</label>
                <textarea
                  formControlName="bioData"
                  rows="3"
                  type="text"
                  class="form-control"
                  placeholder="Enter bioData"
                >
                </textarea>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label">
                  Image
                  <span class="text-danger">*</span>
                </label>
                <input
                  (input)="fileChoosen($event)"
                  type="file"
                  class="form-control-file"
                />
                <validation-messages
                  [control]="testimonialForm.controls['image']"
                >
                </validation-messages>
              </div>
            </div>
            <div class="col-md-6" *ngIf="image">
              <img src="{{image}}" height="100" />
            </div>
          </div> -->
          <div class="col-md-12 mb-3">
            <label class="form-label">
              Upload image
              <span class="text-danger">*</span>
            </label>
            <div class="dropzone container round mx-auto"  >
              <input type="file" (input)="fileChoosen($event)"  />
              <i class="fa fa-upload fa-1x text-muted pb-2"></i>
              <h5>Drag and drop file or click here</h5>
              <small class="text-muted text-wrap">(Only *.jpeg, *.jpg and *.png files are accepted)</small>
            </div>
            <div></div>
          </div>
        </form>
        <div class="text-center mt-3">
          <button (click)="submit()" type="submit" class="btn btn-primary">
            {{ form.id.value ? "Update" : "Save" }}
          </button>
          <button (click)="goBack()" class="btn btn-danger">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  