body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  padding: 20px;
}

.chatgpt {
  // background: #2c3e50;
  border-radius: 10px;

  // box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 2rem;
  .heading{
    color: #2c3e50;
    font-size: 3rem;
    font-weight: 700;
  }
.section1{
  .selectOptions {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
    h4{
      color: #3498db
    }
  }
}




}





.table {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.form-control, .form-select, .btn {
  border-radius: 5px;
}

// .form-control:focus, .form-select:focus {
//   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
// }
.btn:hover {
  background: #0056b3;
  transform: scale(1.05);
}

.selectImg .previewContainer {
  text-align: left;
}

.previewImage {
  max-width: 15rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.userResponse {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

select.form-select {
  background-color: #fff;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}

select.form-select:focus {
  border-color: #007bff;
}

input.form-control {
  background-color: #fff;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}

input.form-control:focus {
  border-color: #007bff;
}

button.btn {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s, transform 0.3s;
}

button.btn:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

button.btn:disabled {
  background: #ccc;
}

p {
  font-size: 1.2em;
  font-weight: bold;
}
