 .container-fluid{
 

  height: auto;
  text-align: center;

  .chatgpt {
    padding: 2rem;
   
    .leftSide {
      background-color: rgb(170, 177, 177);

      .table{
       width: 80%;
       
      
      }
      input{
        margin-bottom: 5px;
      }
      .button{
        margin-left: 3rem;
      
      }
    }

    .rightSide {
      background-color: rgb(200, 212, 222);
      .selectOptions{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        select{
          width: 11rem;
        }
      
        
      }
      .selectImg {
    
         p{
          font-size: larger;
          font-weight: 700;
         }
       
        .previewImage {
          max-width: 150px;
          max-height: 150px;
         
          padding: 2px;
          background-color: #fff;
        }

        input {
          margin-left: 5rem;
         
        }
      }

    }

    
  }
  .userResponse{
    background-color: rgb(156, 176, 191);
  }
}