<div class="container-fluid animated fadeIn">
    <div class="card shadow-sm">
      <div class="card-header">
        <div class="row justify-content-between align-items-center">
          <div class="col-auto">
            <h3 class="mb-0">Notification Form</h3>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-danger" (click)="goBack()">
              <i class="fa fa-arrow-left me-1" aria-hidden="true"></i>
              Back
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="titleForm" class="form-horizontal">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">
                  Title
                  <span class="text-danger">*</span>
                </label>
                <input
                  formControlName="heading"
                  type="text"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      form.heading.invalid &&
                      submitted &&
                      (form.heading.errors ||
                        form.heading.touched ||
                        form.heading.dirty)
                  }"
                  placeholder="Enter heading"
                />
                <validation-messages [control]="form['heading']">
                </validation-messages>
              </div>
            </div>
          </div>
        </form>
        <div class="text-center mt-3">
          <button (click)="submit()" type="submit" class="btn btn-primary">
            {{ form.id.value ? "Update" : "Save" }}
          </button>
          <button (click)="goBack()" class="btn btn-danger">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  