<div class="landing">
    <div class="container-fluid">
        <div class="main">
            <div class="middle">
                <h4 class="text-center">WELCOME TO THE</h4>
                <h1 class="text-center"> PRODUCT DESCRIPTION</h1>
            </div>
            <div class="userForm">
                <div class="card">
                    <h5 class="title text-center "> please Enter yor email</h5>
                    <div class="card-body">
                        <div class="input-group mb-2">
                            <span class="input-group-text" id="inputGroup-sizing-default"><i
                                    class="bi bi-envelope "></i></span>
                                    
                            <input type="text" class=" fs-1" >
                        </div>
                    </div>

                </div>
            </div>
            <div class="getStarted">
                <button class="btn" routerLink="/home">
                    Get started
                </button>
            </div>



        </div>

    </div>